.row.drug-row
  .col-md-2
    = image_tag(drug.molecule_image(:thumb))
  .col-md-3
    .drug-link
      = link_to drug.primary_name, select_drug_path(drug)
    .drug-name
      = drug.full_name
  .col-md-4
    = display_other_names(drug.other_names)
  .col-md-3
    = display_trade_names(drug.trade_names)
