= simple_form_for([:admin, @benzo]) do |f|
  %h2 New Benzodiazepine
  .row
    = f.input :primary_name
    = f.input :id, as: :hidden
  .row
    = array_input_helper(@benzo, :trade_names)
  .row
    = array_input_helper(@benzo, :other_names)
  .row
    = array_input_helper(@benzo, :classes)
  .row
    = array_input_helper(@benzo, :side_effects)
  .row
    = array_input_helper(@benzo, :solubility)
  .row
    = f.input :molecule_image
  .row
    = f.input :full_name
  .row
    = f.input :paper_feed
  .row
    = f.input :description
  .row
    = onset_inputs_helper(f)
  .row
    %h3 Receptor Affinities
    = affinity_inputs_helper(f, @receptor_list)
  .row
    = array_input_helper(@benzo, :references)
  .row
    = f.input :valium_equiv
  .row
    = f.submit
