= simple_form_for([:admin, @benzo]) do |f|
  %h2 New Benzodiazepine
  .row
    = f.input :primary_name
  .row
    = f.input :description
  .row
    = f.input :half_life
  .row
    = onset_inputs_helper(f)
  .row
    = f.input :trade_names, input_html: {:value => ['test', 'test2']}
  .row
    = f.input :other_names, input_html: {:value => ['test', 'test2']}
  .row
    %h3 Receptor Affinities
    = affinity_inputs_helper(f, @receptor_list)
  .row
    = f.input :valium_equiv
  .row
    = f.submit
