%h2= @cannabinoid.primary_name
%h4 
  Other names:
  = display_other_names(@cannabinoid.other_names)
%h4 
  Trade names:
  = display_trade_names(@cannabinoid.trade_names)
%p= @cannabinoid.description

%h4 Estimated First Appearance
= @cannabinoid.start_date

%h3 Receptor Affinity
.row
  %table.table-bordered.col-lg-6
    %tr
      %td Receptor Subtype
      %td Binding Affinity
    - @cannabinoid.affinity.keys.each do |bkey|
      %tr.receptor-row
        %td.receptor-name.col-lg-3= bkey
        %td.receptor-value.col-lg-3= @cannabinoid.affinity[bkey]

%h3 Search trend data

= display_google_trends_graph(@cannabinoid.primary_name)

= render "reports", :reports => @cannabinoid.reports

%h3 Papers
.papers-container.col-md-8
  = render @cannabinoid.papers

%h3 Articles

%h3 Fatalities
