.row
  %ul.admin-new_links.col-lg-6.col-md-6
    %h3 New
    %li.col-md-3.col-lg-6= link_to "Alert", new_admin_alert_path
    %li.col-md-3.col-lg-6= link_to "Benzodiazepine", new_admin_benzodiazepine_path
    %li.col-md-3.col-lg-6= link_to "Cannabinoid", new_admin_cannabinoid_path
    %li.col-md-3.col-lg-6= link_to "Dissociative", new_admin_dissociative_path
    %li.col-md-3.col-lg-6= link_to "Psychedelic", new_admin_psychedelic_path
    %li.col-md-3.col-lg-6= link_to "Stimulant", new_admin_stimulant_path
    %li.col-md-3.col-lg-6= link_to "Metabolite", new_admin_metabolite_path
  %ul.admin-new_links.col-lg-6.col-md-6
    %h3 List
    %li.col-md-3.col-lg-6= link_to "Alert", admin_alerts_path
    %li.col-md-3.col-lg-6= link_to "Benzodiazepine", admin_benzodiazepines_path
    %li.col-md-3.col-lg-6= link_to "Cannabinoid", admin_cannabinoids_path
