= simple_form_for(@benzodiazepine, html: {class: "form-horizontal"}) do |f|
  = f.input :primary_name
  = f.input :trade_names
  = f.input :other_names
  = f.input :valium_equiv
  = f.input :half_life
  = f.input :onset
  = f.input :description
  = f.submit
