%h2= @benzodiazepine.primary_name
%h4 
  Other names:
  = display_other_names(@benzodiazepine.other_names)
%h4 
  Trade names:
  = display_trade_names(@benzodiazepine.trade_names)
%p= @benzodiazepine.description

%h4 Estimated First Appearance
= @benzodiazepine.start_date

%h3 Diazepam Equivalence
%p= "1mg = #{@benzodiazepine.valium_equiv}mg"

%h3 Receptor Affinity
.row
  %table.table-bordered.col-lg-6
    %tr
      %td Receptor Subtype
      %td Binding Affinity
    - @benzodiazepine.affinity.keys.each do |bkey|
      %tr.receptor-row
        %td.receptor-name.col-lg-3= bkey
        %td.receptor-value.col-lg-3= @benzodiazepine.affinity[bkey]

%h3 Demand trend graph

= display_google_trends_graph(@benzodiazepine.primary_name)

= render 'reports', :reports => @benzodiazepine.reports

%h3 Papers
.papers-container.md-8
  = render @benzodiazepine.papers

%h3 Articles

%h3 Fatalities
