.modal.fade.submit-report-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Consumer Reports
      .modal-body
        = simple_form_for(@report) do |f|
          = f.input :title
          = f.input :report
          = f.hidden_field :drug_id, :value => drug_id
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            = f.submit :class => "btn btn-primary"

= link_to "Submit Report", "javascript:void(0)", :class => "btn btn-primary btn-flat report-modal-trigger"

- if reports.approved.empty?
  .submit-reports
    %em No reports have been submitted yet, be the first! Please make sure to follow the community guidelines to ensure your entry is approved.
- else
  = render reports.approved
