%h2= @drug.primary_name
%h4
  Other names:
  = display_other_names(@drug.other_names)
%h4
  Trade names:
  = display_trade_names(@drug.trade_names)
%p= @drug.description

%h4 Estimated First Appearance
= @drug.start_date

- unless @drug.affinity.nil?
  %h3 Receptor Affinity
  .row
    %table.table-bordered.col-lg-6
      %tr
        %td Receptor Subtype
        %td Binding Affinity
      - @drug.affinity.keys.each do |bkey|
        %tr.receptor-row
          %td.receptor-name.col-lg-3= bkey
          %td.receptor-value.col-lg-3= @drug.affinity[bkey]

%h3 Demand trend graph

= display_google_trends_graph(@drug.primary_name)

= render 'reports', :reports => @drug.reports


